- [Read snuffler-file & change time-format](#1)
- [Separate different event types](#2)
- [Merge different event types new together](#3)

<a id='1'></a>
# Read snuffler-file & change time-format

I use the first part of this Notebook to preparate the snuffler-files to files with start and end date and time, plus the event classs. The output is saved in plot_classes, filename snuffler_detections.

In [55]:
import numpy as np
import pandas as pd
import datetime
from obspy import UTCDateTime

In [56]:
# read snuffler marker file
path_to_raw_data = '/data/wsd03/data_manuela/Illgraben/miniseed/'
df = pd.read_csv('../snuffler_files/markers_end2017_snuffler_new.txt', 
                 delim_whitespace=True, skiprows=1 ,names=['sd', 'st', 'ed', 'et', 'dt', 'class', 'stat'])
df

,sd,st,ed,et,dt,class,stat
0,2017-05-29,21:08:12.74850,2017-05-29,21:09:51.74850,99.0,0.0,XP.ILL08..EHZ
1,2017-05-29,21:08:12.74850,2017-05-29,21:09:51.74850,99.0,0.0,XP.ILL08..EHZ
2,2017-05-29,23:16:26.56980,2017-05-29,23:17:52.56980,86.0,2.0,XP.ILL08..EHZ
3,2017-05-29,23:16:26.56980,2017-05-29,23:17:52.56980,86.0,2.0,XP.ILL08..EHZ
4,2017-05-30,07:03:22.09320,2017-05-30,07:04:48.09320,86.0,2.0,XP.ILL08..EHZ
...,...,...,...,...,...,...,...
1596,2017-08-02,15:22:00.00000,2017-08-02,15:22:20.00000,20.0,1.0,None
1597,2017-08-02,19:06:20.00000,2017-08-02,19:06:40.00000,20.0,1.0,None
1598,2017-08-02,19:06:20.00000,2017-08-02,19:06:40.00000,20.0,1.0,None
1599,2017-08-02,21:38:20.00000,2017-08-02,21:38:30.00000,10.0,1.0,None
1600,2017-08-02,21:38:20.00000,2017-08-02,21:38:30.00000,10.0,1.0,None

In [57]:
# test
datetime.datetime.strptime(df.sd.iloc[0], '%Y-%m-%d')<datetime.datetime.strptime('2017-5-30', '%Y-%m-%d')

True

In [58]:
# creae array with wished dates as string --> date MUST be 1d smaller/larger den wished time period
date_l = [date for date in df['sd']
          if datetime.datetime.strptime(date, '%Y-%m-%d')>datetime.datetime.strptime('2017-5-28', '%Y-%m-%d') and 
          datetime.datetime.strptime(date, '%Y-%m-%d')<datetime.datetime.strptime('2017-6-8', '%Y-%m-%d')]
date_l = np.unique(date_l)
date_l

array(['2017-05-29', '2017-05-30', '2017-05-31', '2017-06-01',
       '2017-06-02', '2017-06-03', '2017-06-04', '2017-06-05',
       '2017-06-06', '2017-06-07'], dtype='<U10')

In [59]:
# keep only wished dates
df = df[df['sd'].isin(date_l)]
df

,sd,st,ed,et,dt,class,stat
0,2017-05-29,21:08:12.74850,2017-05-29,21:09:51.74850,99.0,0.0,XP.ILL08..EHZ
1,2017-05-29,21:08:12.74850,2017-05-29,21:09:51.74850,99.0,0.0,XP.ILL08..EHZ
2,2017-05-29,23:16:26.56980,2017-05-29,23:17:52.56980,86.0,2.0,XP.ILL08..EHZ
3,2017-05-29,23:16:26.56980,2017-05-29,23:17:52.56980,86.0,2.0,XP.ILL08..EHZ
4,2017-05-30,07:03:22.09320,2017-05-30,07:04:48.09320,86.0,2.0,XP.ILL08..EHZ
...,...,...,...,...,...,...,...
383,2017-06-07,04:11:10.00000,2017-06-07,04:12:00.00000,50.0,1.0,None
384,2017-06-07,11:09:10.00000,2017-06-07,11:09:20.00000,10.0,1.0,None
385,2017-06-07,11:09:10.00000,2017-06-07,11:09:20.00000,10.0,1.0,None
386,2017-06-07,20:49:30.00000,2017-06-07,20:49:50.00000,20.0,1.0,None
387,2017-06-07,20:49:30.00000,2017-06-07,20:49:50.00000,20.0,1.0,None

In [60]:
np.where(df['stat']=='None')[0].shape

(310,)

In [61]:
np.where(df['class']==3)[0].shape

(0,)

In [62]:
np.where((df['class']==0) | (df['class']==2))[0].shape

(78,)

In [63]:
np.where((df['class']==2))[0].shape

(46,)

In [64]:
df.shape

(388, 7)

## Prepare times to plot spectrogram

In [66]:
df_det = df[df['stat']=='None'] # detected
df_det

             sd              st          ed              et    dt  class  stat
30   2017-05-31  16:49:36.65000  2017-05-31  16:49:46.65000  10.0    1.0  None
31   2017-05-31  16:49:36.65000  2017-05-31  16:49:46.65000  10.0    1.0  None
32   2017-05-31  16:49:56.65000  2017-05-31  16:50:36.65000  40.0    1.0  None
33   2017-05-31  16:49:56.65000  2017-05-31  16:50:36.65000  40.0    1.0  None
34   2017-05-31  18:18:16.65000  2017-05-31  18:18:26.65000  10.0    1.0  None
..          ...             ...         ...             ...   ...    ...   ...
383  2017-06-07  04:11:10.00000  2017-06-07  04:12:00.00000  50.0    1.0  None
384  2017-06-07  11:09:10.00000  2017-06-07  11:09:20.00000  10.0    1.0  None
385  2017-06-07  11:09:10.00000  2017-06-07  11:09:20.00000  10.0    1.0  None
386  2017-06-07  20:49:30.00000  2017-06-07  20:49:50.00000  20.0    1.0  None
387  2017-06-07  20:49:30.00000  2017-06-07  20:49:50.00000  20.0    1.0  None

[310 rows x 7 columns]

In [67]:
df_pik = df[df['stat']!='None'] # picked
df_pik

,sd,st,ed,et,dt,class,stat
0,2017-05-29,21:08:12.74850,2017-05-29,21:09:51.74850,99.0,0.0,XP.ILL08..EHZ
1,2017-05-29,21:08:12.74850,2017-05-29,21:09:51.74850,99.0,0.0,XP.ILL08..EHZ
2,2017-05-29,23:16:26.56980,2017-05-29,23:17:52.56980,86.0,2.0,XP.ILL08..EHZ
3,2017-05-29,23:16:26.56980,2017-05-29,23:17:52.56980,86.0,2.0,XP.ILL08..EHZ
4,2017-05-30,07:03:22.09320,2017-05-30,07:04:48.09320,86.0,2.0,XP.ILL08..EHZ
...,...,...,...,...,...,...,...
353,2017-06-06,02:30:42.50100,2017-06-06,02:32:21.50100,99.0,2.0,XP.ILL07..EHZ
358,2017-06-06,02:58:51.45150,2017-06-06,03:00:04.45150,73.0,2.0,XP.ILL06..EHZ
359,2017-06-06,02:58:51.45150,2017-06-06,03:00:04.45150,73.0,2.0,XP.ILL06..EHZ
360,2017-06-06,02:59:06.28260,2017-06-06,03:00:06.28260,60.0,0.0,XP.ILL07..EHZ
361,2017-06-06,02:59:06.28260,2017-06-06,03:00:06.28260,60.0,0.0,XP.ILL07..EHZ

In [68]:
# dfx = df_det.copy()
dfx = df_pik.copy()

In [69]:
starttimes = [UTCDateTime("{}T{}".format(dfx['sd'].iloc[i],dfx['st'].iloc[i]),)-10 for i in range(len(dfx['st']))]
endtimes = [UTCDateTime("{}T{}".format(dfx['ed'].iloc[i],dfx['et'].iloc[i]))+30 for i in range(len(dfx['et']))]
classes = dfx['class'].to_list()

In [70]:
df_new = pd.DataFrame()
df_new['starttimes'] = starttimes
df_new['endtimes'] = endtimes
df_new['classes'] = classes
df_new

                     starttimes                     endtimes  classes
0   2017-05-29T21:08:02.748500Z  2017-05-29T21:10:21.748500Z      0.0
1   2017-05-29T21:08:02.748500Z  2017-05-29T21:10:21.748500Z      0.0
2   2017-05-29T23:16:16.569800Z  2017-05-29T23:18:22.569800Z      2.0
3   2017-05-29T23:16:16.569800Z  2017-05-29T23:18:22.569800Z      2.0
4   2017-05-30T07:03:12.093200Z  2017-05-30T07:05:18.093200Z      2.0
..                          ...                          ...      ...
73  2017-06-06T02:30:32.501000Z  2017-06-06T02:32:51.501000Z      2.0
74  2017-06-06T02:58:41.451500Z  2017-06-06T03:00:34.451500Z      2.0
75  2017-06-06T02:58:41.451500Z  2017-06-06T03:00:34.451500Z      2.0
76  2017-06-06T02:58:56.282600Z  2017-06-06T03:00:36.282600Z      0.0
77  2017-06-06T02:58:56.282600Z  2017-06-06T03:00:36.282600Z      0.0

[78 rows x 3 columns]

In [71]:
df_new.to_csv('../plot_classes/snuffler_detections_end2017_new.csv', index=False)

<a id='2'></a>
# Separate different event types

The event_catalog is splited into all the different classes and saved as a separate file called event_catalog ...

In [9]:
import numpy as np
import pandas as pd

In [10]:
# read file
# df = pd.read_csv('../snuffler_files/picks_for_snuffler_hSNR_v4.txt', 
#                  delim_whitespace=True, skiprows=1 ,names=['sd', 'st', 'ed', 'et', 'dt', 'class', 'stat'])
df = pd.read_csv('../snuffler_files/event_catalog_man_cont_hSNR_v4.txt')
df

,startdate,starttime,enddate,endtime,duration,bla,class,network
0,2017-05-24,01:43:28.3030,2017-05-24,01:43:40.9140,12.611000061035156,NaN,1.0,XP.ILL08..EHZ
1,2017-05-24,01:43:28.5680,2017-05-24,01:43:41.5545,12.986500024795532,NaN,1.0,XP.ILL04..EHZ
2,2017-05-24,01:43:28.5680,2017-05-24,01:43:41.7975,13.229499816894531,NaN,1.0,XP.ILL01..EHZ
3,2017-05-24,01:43:28.8110,2017-05-24,01:43:41.7312,12.920199871063232,NaN,1.0,XP.ILL03..EHZ
4,2017-05-24,01:43:29.0539,2017-05-24,01:43:41.5103,12.456399917602539,NaN,1.0,XP.ILL02..EHZ
...,...,...,...,...,...,...,...,...
668,2017-07-20,22:35:19.3507,2017-07-20,22:40:56.4759,337.12520003318787,NaN,1.0,None
669,2017-07-21,17:04:33.5940,2017-07-21,17:06:31.7069,118.11283993721008,NaN,1.0,None
670,2017-07-31,19:30:52.9992,2017-07-31,19:31:57.5422,64.54297018051147,NaN,1.0,None
671,2017-07-31,19:44:45.7277,2017-07-31,19:45:25.1041,39.376450061798096,NaN,1.0,None
672,2017-08-01,00:26:55.4007,2017-08-01,00:27:41.8648,46.46404004096985,NaN,1.0,None

In [11]:
idx = np.where(df.network.map(type)!=str)[0] # where we only have start time
# shift class and network to right position at places where we only have start time
for i in idx:
    df.loc[i,'class'] = float(df.loc[i,'endtime']) # entery form endtime to class
    df.loc[i,'endtime'] = np.nan # enttime to NaN
    df.loc[i,'network'] = df.loc[i]['duration'] # entery form duration to network
    df.loc[i,'duration'] = np.nan # duration to NaN

In [12]:
np.unique(df['class'])

array([0., 1., 3., 4.])

In [13]:
df_eq = df.loc[df['class'] == 1.0]
df_eq

,startdate,starttime,enddate,endtime,duration,bla,class,network
0,2017-05-24,01:43:28.3030,2017-05-24,01:43:40.9140,12.611000061035156,NaN,1.0,XP.ILL08..EHZ
1,2017-05-24,01:43:28.5680,2017-05-24,01:43:41.5545,12.986500024795532,NaN,1.0,XP.ILL04..EHZ
2,2017-05-24,01:43:28.5680,2017-05-24,01:43:41.7975,13.229499816894531,NaN,1.0,XP.ILL01..EHZ
3,2017-05-24,01:43:28.8110,2017-05-24,01:43:41.7312,12.920199871063232,NaN,1.0,XP.ILL03..EHZ
4,2017-05-24,01:43:29.0539,2017-05-24,01:43:41.5103,12.456399917602539,NaN,1.0,XP.ILL02..EHZ
...,...,...,...,...,...,...,...,...
668,2017-07-20,22:35:19.3507,2017-07-20,22:40:56.4759,337.12520003318787,NaN,1.0,None
669,2017-07-21,17:04:33.5940,2017-07-21,17:06:31.7069,118.11283993721008,NaN,1.0,None
670,2017-07-31,19:30:52.9992,2017-07-31,19:31:57.5422,64.54297018051147,NaN,1.0,None
671,2017-07-31,19:44:45.7277,2017-07-31,19:45:25.1041,39.376450061798096,NaN,1.0,None
672,2017-08-01,00:26:55.4007,2017-08-01,00:27:41.8648,46.46404004096985,NaN,1.0,None

In [14]:
df_eq.to_csv('../snuffler_files/event_catalog_eq_v4.txt', sep=',', index=False)

In [15]:
df_noise = df.loc[df['class'] == 0.0]
df_noise

,startdate,starttime,enddate,endtime,duration,bla,class,network
165,2017-06-02,10:02:57.8257,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
167,2017-06-02,10:08:39.0653,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
168,2017-06-02,10:13:14.0537,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
169,2017-06-02,10:22:11.1152,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
170,2017-06-02,10:32:15.0563,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
...,...,...,...,...,...,...,...,...
656,2017-06-18,17:37:07.4600,NaN,NaN,NaN,NaN,0.0,None
657,2017-06-18,18:54:32.4438,NaN,NaN,NaN,NaN,0.0,None
658,2017-06-18,20:16:01.9004,NaN,NaN,NaN,NaN,0.0,None
659,2017-06-18,21:25:17.9385,NaN,NaN,NaN,NaN,0.0,None
660,2017-06-18,22:43:39.0883,NaN,NaN,NaN,NaN,0.0,None

In [16]:
df_noise.to_csv('../snuffler_files/event_catalog_noise_v4.txt', sep=',', index=False)

In [17]:
df_sf = df.loc[df['class'] == 3.0]
df_sf

,startdate,starttime,enddate,endtime,duration,bla,class,network
22,2017-05-25,05:42:22.3982,2017-05-25,05:42:34.7137,12.315500020980835,NaN,3.0,XP.ILL03..EHZ
23,2017-05-25,05:42:23.1580,2017-05-25,05:42:36.4331,13.275099992752075,NaN,3.0,XP.ILL04..EHZ
24,2017-05-25,05:42:23.5578,2017-05-25,05:42:35.1136,11.555799961090088,NaN,3.0,XP.ILL02..EHZ
48,2017-05-27,05:19:45.4723,2017-05-27,05:20:06.3925,20.920199871063232,NaN,3.0,XP.ILL04..EHZ
49,2017-05-27,05:19:46.6062,2017-05-27,05:20:07.1862,20.579999923706055,NaN,3.0,XP.ILL02..EHZ
...,...,...,...,...,...,...,...,...
579,2017-06-15,01:43:49.5810,2017-06-15,01:44:06.3122,16.731199979782104,NaN,3.0,XP.ILL07..EHZ
581,2017-06-15,02:49:37.6438,2017-06-15,02:50:21.8542,44.210399866104126,NaN,3.0,XP.ILL08..EHZ
582,2017-06-15,02:49:37.6438,2017-06-15,02:50:22.4807,44.83689999580383,NaN,3.0,XP.ILL07..EHZ
583,2017-06-15,02:49:38.0912,2017-06-15,02:50:22.0332,43.94199991226196,NaN,3.0,XP.ILL06..EHZ
584,2017-06-15,02:49:38.1807,2017-06-15,02:50:21.5857,43.40499997138977,NaN,3.0,XP.ILL05..EHZ

In [18]:
df_sf.to_csv('../snuffler_files/event_catalog_sf_v4.txt', sep=',', index=False)

In [19]:
df_ev_noise = df.loc[df['class'] == 4.0]
df_ev_noise

,startdate,starttime,enddate,endtime,duration,bla,class,network
5,2017-05-24,06:46:02.1544,2017-05-24,06:46:06.7194,4.56499981880188,NaN,4.0,XP.ILL03..EHZ
6,2017-05-24,06:46:03.1083,2017-05-24,06:46:09.8309,6.722599983215332,NaN,4.0,XP.ILL02..EHZ
7,2017-05-24,06:46:04.2439,2017-05-24,06:46:13.4420,9.198099851608276,NaN,4.0,XP.ILL08..EHZ
8,2017-05-24,06:46:05.5157,2017-05-24,06:46:11.2844,5.768699884414673,NaN,4.0,XP.ILL04..EHZ
29,2017-05-25,08:58:33.2472,2017-05-25,08:59:21.1038,47.85660004615784,NaN,4.0,XP.ILL04..EHZ
...,...,...,...,...,...,...,...,...
559,2017-06-14,13:23:40.3592,2017-06-14,13:24:05.7259,25.366699934005737,NaN,4.0,XP.ILL08..EHZ
565,2017-06-14,20:45:07.1677,2017-06-14,20:45:30.8260,23.658299922943115,NaN,4.0,XP.ILL04..EHZ
566,2017-06-14,20:45:07.5756,2017-06-14,20:45:29.7654,22.189800024032593,NaN,4.0,XP.ILL05..EHZ
567,2017-06-14,20:45:07.9835,2017-06-14,20:45:32.3760,24.392499923706055,NaN,4.0,XP.ILL06..EHZ
599,2017-06-15,19:06:43.8774,2017-06-15,19:06:57.5700,13.692600011825562,NaN,4.0,XP.ILL04..EHZ

In [20]:
df_ev_noise.to_csv('../snuffler_files/event_catalog_ev_noise_v4.txt', sep=',', index=False)

In [21]:
# read snuffler marker file
df_thunder = pd.read_csv('../snuffler_files/picks_for_snuffler_thunder_v4.txt', 
                 delim_whitespace=True, skiprows=1 ,names=['startdate','starttime','enddate','endtime','duration',
                                                           'class','network'])
df_thunder.insert(loc = 5, column = 'bla', value = np.nan)
df_thunder['class'] = df_thunder['class'].astype('float')
df_thunder

,startdate,starttime,enddate,endtime,duration,bla,class,network
0,2017-06-14,18:38:42.0489,2017-06-14,18:39:11.3116,29.262678,NaN,4.0,XP.ILL06..EHZ
1,2017-06-14,18:38:43.0276,2017-06-14,18:39:09.4521,26.424491,NaN,4.0,XP.ILL07..EHZ
2,2017-06-14,18:38:45.7679,2017-06-14,18:39:12.7796,27.011702,NaN,4.0,XP.ILL08..EHZ
3,2017-06-14,18:40:04.9435,2017-06-14,18:40:26.6703,21.726804,NaN,4.0,XP.ILL06..EHZ
4,2017-06-14,18:40:06.1180,2017-06-14,18:40:24.1258,18.007802,NaN,4.0,XP.ILL07..EHZ
5,2017-06-14,18:40:11.6965,2017-06-14,18:40:30.3893,18.692881,NaN,4.0,XP.ILL08..EHZ
6,2017-06-14,18:41:51.6202,2017-06-14,18:42:05.3218,13.701588,NaN,4.0,XP.ILL06..EHZ
7,2017-06-14,18:41:52.8925,2017-06-14,18:42:03.9516,11.059139,NaN,4.0,XP.ILL07..EHZ
8,2017-06-14,18:41:55.2413,2017-06-14,18:42:12.5640,17.322722,NaN,4.0,XP.ILL08..EHZ
9,2017-06-14,18:43:17.9402,2017-06-14,18:43:33.6970,15.756826,NaN,4.0,XP.ILL06..EHZ
10,2017-06-14,18:43:19.1146,2017-06-14,18:43:34.5778,15.463221,NaN,4.0,XP.ILL07..EHZ
11,2017-06-14,18:43:21.1699,2017-06-14,18:43:39.4713,18.301407,NaN,4.0,XP.ILL08..EHZ
12,2017-06-14,18:45:05.4977,2017-06-14,18:45:17.8291,12.331429,NaN,4.0,XP.ILL06..EHZ
13,2017-06-14,18:45:06.2806,2017-06-14,18:45:19.2971,13.016509,NaN,4.0,XP.ILL07..EHZ
14,2017-06-14,18:45:12.0549,2017-06-14,18:45:22.8204,10.765533,NaN,4.0,XP.ILL08..EHZ
15,2017-06-14,18:46:07.0844,2017-06-14,18:46:22.2546,15.170128,NaN,4.0,XP.ILL06..EHZ
16,2017-06-14,18:46:08.8972,2017-06-14,18:46:24.7352,15.837996,NaN,4.0,XP.ILL07..EHZ
17,2017-06-14,18:46:14.8126,2017-06-14,18:46:28.5516,13.738984,NaN,4.0,XP.ILL08..EHZ
18,2017-06-14,18:48:05.7740,2017-06-14,18:48:24.0926,18.318645,NaN,4.0,XP.ILL06..EHZ
19,2017-06-14,18:48:10.3537,2017-06-14,18:48:27.0503,16.696682,NaN,4.0,XP.ILL07..EHZ
20,2017-06-14,18:48:15.4104,2017-06-14,18:48:28.0999,12.689478,NaN,4.0,XP.ILL08..EHZ
21,2017-06-14,18:49:36.1269,2017-06-14,18:49:56.4492,20.322247,NaN,4.0,XP.ILL07..EHZ
22,2017-06-14,18:49:36.3177,2017-06-14,18:49:55.3042,18.986512,NaN,4.0,XP.ILL06..EHZ
23,2017-06-14,18:49:45.3816,2017-06-14,18:49:59.0252,13.643574,NaN,4.0,XP.ILL08..EHZ
24,2017-06-14,18:50:35.2809,2017-06-14,18:50:51.8821,16.601272,NaN,4.0,XP.ILL06..EHZ
25,2017-06-14,18:50:36.8074,2017-06-14,18:50:55.6985,18.891103,NaN,4.0,XP.ILL07..EHZ
26,2017-06-14,18:50:38.0477,2017-06-14,18:50:57.2251,19.177332,NaN,4.0,XP.ILL08..EHZ
27,2017-06-14,18:51:10.1054,2017-06-14,18:51:27.5653,17.459959,NaN,4.0,XP.ILL06..EHZ
28,2017-06-14,18:51:16.7840,2017-06-14,18:51:28.9965,12.212430,NaN,4.0,XP.ILL07..EHZ
29,2017-06-14,18:51:20.7912,2017-06-14,18:51:34.2440,13.452755,NaN,4.0,XP.ILL08..EHZ
30,2017-06-14,18:52:19.0865,2017-06-14,18:52:39.9812,20.894705,NaN,4.0,XP.ILL06..EHZ
31,2017-06-14,18:52:19.5636,2017-06-14,18:52:43.7022,24.138631,NaN,4.0,XP.ILL07..EHZ
32,2017-06-14,18:52:33.1117,2017-06-14,18:52:45.4196,12.307840,NaN,4.0,XP.ILL08..EHZ
33,2017-06-14,18:54:28.0803,2017-06-14,18:54:37.4305,9.350142,NaN,4.0,XP.ILL07..EHZ
34,2017-06-14,18:54:29.7023,2017-06-14,18:54:40.2927,10.590467,NaN,4.0,XP.ILL08..EHZ
35,2017-06-14,19:18:41.7096,2017-06-14,19:18:48.0571,6.347537,NaN,4.0,XP.ILL06..EHZ
36,2017-06-14,19:18:43.9145,2017-06-14,19:18:49.3934,5.478927,NaN,4.0,XP.ILL07..EHZ
37,2017-06-14,19:18:45.6517,2017-06-14,19:18:52.3333,6.681617,NaN,4.0,XP.ILL08..EHZ
38,2017-06-14,19:20:48.4599,2017-06-14,19:20:55.8765,7.416595,NaN,4.0,XP.ILL06..EHZ
39,2017-06-14,19:20:50.2639,2017-06-14,19:20:57.6805,7.416596,NaN,4.0,XP.ILL07..EHZ
40,2017-06-14,19:20:52.6693,2017-06-14,19:21:05.4312,12.761890,NaN,4.0,XP.ILL08..EHZ
41,2017-06-14,19:22:52.0698,2017-06-14,19:22:57.6823,5.612559,NaN,4.0,XP.ILL06..EHZ
42,2017-06-14,19:22:53.6734,2017-06-14,19:22:58.9519,5.278478,NaN,4.0,XP.ILL07..EHZ
43,2017-06-14,19:22:56.3460,2017-06-14,19:23:05.0989,8.752919,NaN,4.0,XP.ILL08..EHZ
44,2017-06-14,20:45:07.1677,2017-06-14,20:45:30.8260,23.658300,NaN,4.0,XP.ILL04..EHZ
45,2017-06-14,20:45:07.5756,2017-06-14,20:45:29.7654,22.189800,NaN,4.0,XP.ILL05..EHZ
46,2017-06-14,20:45:07.9835,2017-06-14,20:45:32.3760,24.392500,NaN,4.0,XP.ILL06..EHZ

In [22]:
df_thunder.to_csv('../snuffler_files/event_catalog_thunder_v4.txt', sep=',', index=False)

<a id='3'></a>
# Merge different event types new together

This part merges different event types new together and create input file for cascadua_make_feature_files.ipynb ich is used to create the training and testing data set.

In [23]:
import pandas as pd

In [24]:
df_sf = pd.read_csv('../snuffler_files/event_catalog_sf_v4.txt')

df_noise = pd.read_csv('../snuffler_files/event_catalog_noise_v4.txt')
df_ev_noise = pd.read_csv('../snuffler_files/event_catalog_ev_noise_v4.txt')
df_thunder = pd.read_csv('../snuffler_files/event_catalog_thunder_v4.txt')
df_eq = pd.read_csv('../snuffler_files/event_catalog_eq_v4.txt')

In [25]:
df_final = pd.concat([df_noise,df_ev_noise,df_thunder,df_eq, df_sf])
df_final

,startdate,starttime,enddate,endtime,duration,bla,class,network
0,2017-06-02,10:02:57.8257,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
1,2017-06-02,10:08:39.0653,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
2,2017-06-02,10:13:14.0537,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
3,2017-06-02,10:22:11.1152,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
4,2017-06-02,10:32:15.0563,NaN,NaN,NaN,NaN,0.0,XP.ILL07..EHZ
...,...,...,...,...,...,...,...,...
107,2017-06-15,01:43:49.5810,2017-06-15,01:44:06.3122,16.7312,NaN,3.0,XP.ILL07..EHZ
108,2017-06-15,02:49:37.6438,2017-06-15,02:50:21.8542,44.2104,NaN,3.0,XP.ILL08..EHZ
109,2017-06-15,02:49:37.6438,2017-06-15,02:50:22.4807,44.8369,NaN,3.0,XP.ILL07..EHZ
110,2017-06-15,02:49:38.0912,2017-06-15,02:50:22.0332,43.9420,NaN,3.0,XP.ILL06..EHZ
111,2017-06-15,02:49:38.1807,2017-06-15,02:50:21.5857,43.4050,NaN,3.0,XP.ILL05..EHZ

In [26]:
df_final.to_csv('../snuffler_files/catalog_beginning_2017.txt', sep=',', index=False)